<h2>Answers</h2>
{{sorting-options sendDate="dateSort" sendKarma="karmaSort"}}
{{#each sortedAnswers as |answer|}}
  {{answer-tile answer=answer sendUpvote="sendUpvote" sendDownvote="sendDownvote"}}
{{/each}}
