<h1>Ask.me</h1>
<ul>
  {{#link-to 'index'}}
    <li>Home</li>
  {{/link-to}}
  {{#link-to 'about'}}
    <li>About</li>
  {{/link-to}}
  {{#link-to 'contacts'}}
    <li>Contacts</li>
  {{/link-to}}
</ul>
